.animationContainer {
    position: relative;
    width: 100%;
    left: 210px; /* Offset the container from the left */
    width: calc(100% - 420px);
    z-index: 1; /* Ensure it's behind .ssibal */
    justify-content: center; 
    display: flex;
    flex-direction: column;
    margin: 100px 0 0 0;
}


.animation {
    display: flex;
    justify-content: center;
}