
.container{
    top:10rem
}

.contextContainer{
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;

}

.imageBox {
    position: relative;
    display: flex;
    width: 100%;
    margin-top: 2rem;
}

.mobileImageBox {
    display: none;
}

.welcomeBox {
    margin-top: 20px;
    width: 590px;
    height: 164px;
    gap: 10px;
    display: flex;
    flex-direction: row; /* Stack WELCOME and Japanese text vertically */
    justify-content: center;
    align-items: center;
}

.welcomeItem {
    display: flex;
    width: 454px;
    height: 164px;
    position: relative;
    background-color: var(--primary-color);
    transition: transform 0.3s ease;
    color: #fff;
    overflow: hidden;
    white-space: nowrap; 
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.eventListContainer{
    margin-top: 40px;
    width: 110%;
}

.eventListContainer a{
    text-decoration: none;
}

.eventList{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
    width: 100%;
    height: 5rem;
    display:flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-align: left;    
}

.eventDate {
    width: 12rem;
}

.eventTitle {

    width: auto;
    margin-left: 1rem;
    text-align: left; /* Ensures text within eventTitle is left-aligned */
    display: block; /* Change flex to block if no flex layout is required */
}


.eventList span::after {
    content: ''; /* Required to create an element */
    position: absolute; 
    bottom: -2px; /* Adjust based on the desired space from the text */
    left: 50%; /* Start the line from the center horizontally */
    width: 0%; /* Start with zero width */
    height: 3px; /* The thickness of the underline */
    background-color: var(--primary-color); /* Red underline */
    opacity: 0; /* Hidden by default */
    transition: width 0.3s ease, left 0.3s ease, opacity 0.3s ease-in-out; /* Smooth transitions */
}
  
.eventList span:hover::after {
    opacity: 1; /* Show the red underline when hovered */
    width: 100%;
    left: 0;
}

.icon svg{
    position: absolute;
    right: 0;
    top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center; /* Vertically align icon with text */
    vertical-align: middle;
}

.word1, .word2, .word3, .word4, .word5 {
    display: flex;
    justify-content: center;
    position: absolute;
    opacity: 0;
    align-items: center;
    text-align : center;
    width: 100%;
    height: 100%;
}
.welcomeItem  .word1 { animation: word-animation 10s infinite; }
.welcomeItem  .word2 { animation: word-animation 10s infinite 2s; }
.welcomeItem  .word3 { animation: word-animation 10s infinite 4s; }
.welcomeItem  .word4 { animation: word-animation 10s infinite 6s; }
.welcomeItem  .word5 { animation: word-animation 10s infinite 8s;}


@keyframes word-animation {
    0%, 5% { opacity: 0; }
    10%, 22% { opacity: 1; }
    27%, 100% { opacity: 0; }
}


.russsianText {
    width: 132px;
    height: 164px;
    background-color: var(--primary-color);
    display: flex;        
    justify-content: center;  
    align-items: center;      
    text-align: center;      
    font-size: 16px;
    color: #fff;
    line-height: 150%;
    letter-spacing: -1.28px;
}

.calendarWrapper{
    display: none;
}

@media (max-width: 393px) {

    .contextContainer{
        display: flex;
        width: 100%;
        margin: 8rem 0 0 0;
        justify-content: space-between;
    }

    .calendarWrapper{
        position: absolute;
        right: 30px;
        top: 8rem;
        width: 6rem;
        height: 3.25rem;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: var(--primary-color);
        border-radius: 3000px;
        display: flex;
        flex-direction: column;
    }

    .calendarText{
        color: #fff;
    }

    .eventListContainer .eventList, .imageBox, .welcomeBox {
        display: none;
    }

    .mobileImageBox{
        margin-top: 1rem;
        display: flex;
        width: 100%;
        height: auto;
        place-items: center;
    }

    .mobileImageBox img{
        height: 276px;
        width: 100%;
    }



}