@font-face {
    font-family: 'Helvetica Light';
    src: local('Helvetica Light'),
         url('/fonts/helvetica-light-587ebe5a59211.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
         url('/fonts/helvetica.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica_Compressed';
    src: local('Helvetica Compressed'),
         url('/fonts/Helvetica_Compressed.ttf') format('truetype'),
         url('/fonts/Helvetica_Compressed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.custom-image{
    width: 200px !important;
    height: auto;
}