/* header.module.css */
/* For Retina screens */
html {
    scroll-behavior: smooth;
}

.headContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 10px 210px;
    height: 152px;
    border-width: 3px;
    z-index: 2;
    justify-content: center; 
    display: flex;
    align-items: center;
    background-color: #fff;
}

.headMenuContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 2; /* Ensure it appears above .headContainer */

}

.imgContainer {
    display: flex;
    align-items: center;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;  /* Set fixed width */
    height: 106px; /* Set fixed height */
    object-fit: contain; /* Maintain aspect ratio */
    cursor: pointer;
}

nav {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center; 
    justify-content: center;
}

nav ul {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    padding: 0;
    margin: 0; 
    list-style: none; 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; 
}

nav ul li {
    display: flex; /* Make li a flex container */
    align-items: center; /* Center its children (the anchor tags) vertically */
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center; 
}

span {
    display: inline;  /* Ensures span stays inline */
    white-space: nowrap;
}

.menuItem1 {
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.36px;
}

.menuItem2 {
    color: var(--Accent-Main, #E2483D);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 27px */
    letter-spacing: -0.36px;
}

nav ul li a.menuItem {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 100%;
    /* margin-left: 60px; */
    margin-right: 0;
    cursor: pointer;
}

.langContainer {
    margin-left: auto; /* Push to the far right */
    margin-right: 0;
    display: flex;
    align-items: center; /* Ensure it is vertically centered within its container */
    cursor: pointer;
    z-index:5;
    background-color: var(--secondary-color);
}


.langBox {
    display: flex;
    width: 70px;
    height: 52px; 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    background: var(--secondary-color);
    border: 1px #101214 solid;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    font-size: 1rem;
    font-family: 'Helvetica';
    font-weight: 300;
    word-wrap: break-word;
}


.frame6 {
    justify-content: flex-end;
    align-items: center;
    gap: 6px;
    display: flex;
    flex-shrink: 0;
}


.symbol {
    width: 0.9rem;
    height: 0.9rem;
    position: relative;
    transform: rotate(360deg);
    transform-origin: '0 0';
}


.languageOptions {
    margin-top: 1px; 
    position: absolute;
}

.languageOption {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 51px;
    width: 70px;
    height: 52px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid black;
}

.languageOption:hover {
    background-color:#ffffff;
}


nav ul li a.menuItem{
    position: relative; /* Added this to ensure pseudo-elements are positioned correctly */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Optionally, horizontally center the content */
    /*color: #000; *//* Default color */
    font-size: 1.125rem; /* Ensure consistent font size */
    text-align: center; /* Keep centered text */
    text-decoration: none; /* Remove underline */
    transition: transform 0.3s ease;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    letter-spacing: -0.36px;
    height: 27px; /* Set a fixed height to ensure alignment */
}


nav ul li a.menuItem::after{
    content: "";
    position: absolute;
    bottom: -2px; /* Adjusts the underline's vertical position */
    left: 50%;
    width: 0;
    height: 2px; /* Thickness of the underline */
    background-color: var(--primary-color); /* Underline color */
    transition: width 0.3s ease, left 0.3s ease; /* Smooth width and position transition */
    transform: translateX(-50%) scaleX(0);
    /*transform-origin: center;*/
}


nav ul li a.menuItem:hover::after {
    width: 100%; /* Full width on hover */
    left: 0; /* Reset left to align from the start */
    transform: none;
}


/* Popup Image */
nav ul li a.menuItem::before{
    content: "";
    position: absolute;
    top: -150%; /* Position above or beside link */
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    width: 24px; /* Popup image width */
    height: 42px; /* Popup image height */
    background-image: url('/matryoshka.png'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth fade-in */
    z-index: 10; /* Ensure it appears above other content */
}

nav ul li a.menuItem:hover::before
{
    opacity: 1; /* Show image on hover */
    animation: tilt 0.8s ease-in-out infinite;
}

.mobileMenuList {
    display: none;
}


@keyframes tilt {
    0% {
        transform: translate(-50%) rotate(0deg);
    }
    25% {
        transform: translate(-50%) rotate(10deg);
    }
    50% {
        transform: translate(-50%) rotate(0deg);
    }
    75% {
        transform: translate(-50%) rotate(-10deg);
    }
    100% {
        transform: translate(-50%) rotate(0deg);
    }
}

@media (max-width: 393px) {
    .imgContainer, .langContainer {
        display: none;
    }
    
    .headContainer {    
        padding: 0;
        margin: 0;
        height: 15rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;  
        box-sizing: border-box;
        z-index: 10;
        background-color:transparent; 
        
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        width: 100%;
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        position: relative;
    }


    .headMenuContainer {
        height: auto;
        width: 100%;
    }

    .hamburger {
        position: absolute;
        right: 0;
        bottom: 6rem;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;    
        width: 56px;
        height: 56px;
        cursor: pointer;
        margin-left: auto;
        margin-right: 1.5rem;
        z-index:2;
        border-radius: 16px;
        border: 4px solid #FFF;
        background: #FFF;
    }

    .bar {
        display: flex;
        align-items: center; 
        justify-content: center;
        background-color: var(--primary-color); 
        height: 3px;
        width: 25px;
        margin: 2.5px 0;
        transition: all 0.3s;
        border-radius: 99px; 
    }

    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -8px;
    }

    .menu {
        display: none;
    }

    .menu.visible {
        display: flex;
        width: 100%;
        height: auto;
    }

    .menuList {
        display : none;
    }
      
    nav ul {
        position: absolute;
        right: 5rem;
        bottom: 0;
        background-color: white;
        width: 30%;
        height: auto;
        flex-direction: column;
        margin: 0;
        padding: 2px 0;
    }


    .mobileMenuList {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 100%;
        height: 592px;
        top: 1px;
        left: 0;
        border: 3px solid var(--primary-color);
        /*
        background-image: url('/header-bg.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: color-burn;
        background-color: lightgray;
        */

        background: lightgray url('/header-bg.png') 50% / cover no-repeat;
        background-blend-mode: color-dodge;


        gap: 32px;
    }
    

    nav ul li {
        padding: 0;
        margin: 0;
        background-color: transparent;
    }

    nav ul li .mobileButton {
        color:var(--primary-color);
        background-color: transparent;
        border: none;
        margin : 0;
        padding: 2px 0;
        cursor: pointer;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 90%;
        letter-spacing: -0.96px;
    }

    .mobileButton:hover {
        width: 100%;
        background-color: pink;
    }


}

/*
    nav ul {
        margin-top : 200px;
        right: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav ul li{
        border-width: 1px;
        width: 100%;

        margin: 0;
        display: flex; 
        align-items: center; 
        justify-content: flex-end; 
        padding: 0;
        flex-shrink: 0; 
        flex-grow: 0; 
    }


    nav ul li a {
        display: inline-flex;
        justify-content: center;
        color:var(--primary-color);
        background-color: #fff;
        align-items: center; 
        width: 100%;
        white-space: nowrap; 
        }

    nav ul li a:hover {
        background-color: pink;

    }

    nav ul li a.menuItem::before {
        content: none !important; 
    }


    nav ul li a.menuItem::after {
        content: none !important; 
    }

}
    */
/*
@media (max-width: 768px) {
    .headContainer {
        position: fixed;
        top: 0;
        padding: 0;
        width: 100vw;
        margin: 0;
        left: 0px; 
        height: 152px;
        border-width: 3px;
        z-index: 2;
        display: flex;
        align-items: center;
    }

    .headMenuContainer {
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    
    .imgContainer {
        display: flex;
        align-items: baseline; 
        justify-content: start; 
        width: 100%;
    }

    .logo {
        left: 0;
        right: auto;
        width: 100%;
        height: auto;
        object-fit: contain;
        display: block; 
    }

    .langContainer {
        display: none !important;
    }

    .menuList {
        display: none; 
    }

    .menuList.mobileVisible {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-end; 
    }

    .hamburger {
        display: flex;
        align-items: center; 
        justify-content: center;
        display: block;
        cursor: pointer;
        margin-left: auto;
        margin-right: 0px;
        width: 90px;
        height: 48px;
        color: var(--primary-color);
        z-index:10;
    }

    .bar {
        display: flex;
        align-items: center; 
        justify-content: center;
        background-color: var(--primary-color); 
        height: 3px;
        width: 25px;
        margin: 5px 0;
        margin-right: 24px;
        transition: all 0.3s;
    }


    .hamburger.open .bar:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .bar:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -8px;
    }

    nav ul {

        margin-top : 200px;
        right: 0;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }

       nav ul li{
        border-width: 1px;
        width: 100%;

        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        flex-shrink: 0; 
        flex-grow: 0; 
    }


    nav ul li a {
        display: inline-flex;
        justify-content: center;
        color:var(--primary-color); 
        background-color: #fff;
        align-items: center; 

        width: 100%;
        white-space: nowrap; 

    }


    nav ul li a:hover {
        background-color: pink;

    }

       nav ul li a.menuItem::before {
        content: none !important;

      nav ul li a.menuItem::after {
        content: none !important;
    }
}
*/

