.testBox{
    display: flex;
    flex-direction: column;
    margin-top: 500px;
    margin-left:300px;
    width: 900px;
    height: 600px;
    background-color: green;
    z-index: 2;
    align-items: center;
    justify-content: center;
}